<launch>
	<!--  **************** Visualisation ****************  -->
	<node name="rviz" pkg="rviz" type="rviz" args="-d $(find dynaplaning)/cfg/rviz_nokov.rviz" />


	<node name="bag_to_path" pkg="mpc_control" type="bag_to_path">
	<param name="bag_file" value = "$(find dynaplaning)/cfg/robot_1_path_2.bag"/>
	<param name="path_topic_name" value = "path_global"/>
	</node>
	
	<node name="mpc_control_node" pkg="mpc_control" type="mpc">
    <rosparam command="load" file ="$(find dynaplaning)/cfg/mpc_control.yaml"/>
	</node> 


	<node name="dyanamic_planning_nokov" pkg="dynaplaning" type="dyanamic_planning_nokov" output="screen">
	<param name = "car_pose_topic_name" value="robot_1/nokov"/>
	<param name = "global_path_topic_name" value="path_global"/>
	</node>
	
	<node name="show_car_in_nokov" pkg="mpc_control" type="show_car_in_nokov">
	<param name="x_scale" value="0.3"/>
	<param name="y_scale" value="0.25"/>
	<param name="pose_topic" value="robot_1/nokov"/>
	</node>

</launch>
