<launch>
<arg name="control_topic" value="robot_2/cmd_vel"/>

	<!--  **************** Visualisation ****************  -->
	<node name="rviz" pkg="rviz" type="rviz" args="-d $(find leader_follower)/cfg/rviz_navigation_nokov.rviz" />


	
	<node name="mpc" pkg="mpc_control" type="mpc" output="screen">
    <rosparam command="load" file ="$(find leader_follower)/cfg/mpc_control_nokov.yaml"/>
	<!-- <remap from="cmd_vel" to="robot_1/cmd_vel"/>
	<remap from="odom" to="robot_1/odom"/> -->
	</node>

	<node name="create_car_path_nokov" pkg="leader_follower" type="create_car_path_nokov">
	<remap from="nokov" to="robot_2/nokov"/>
	</node>

	<node name="follower_node" pkg="leader_follower" type="follower_node">
	</node>

	<include file="$(find wheeltec_joy)/launch/joy_control.launch">
		<arg name="control_topic" value="$(arg control_topic)" />
	</include>
	<!-- 
	<node name="pid_control" pkg="mpc_control" type="pid_control_node" output="screen"/>
	-->
</launch>
